<div class="bg-white rounded-lg shadow p-6">
	<h5 class="text-2xl font-bold mb-8">Admin Shortcuts:</h5>
	<ul class="space-y-5">
		<li>
			<a href="/admin/" class="block p-3 rounded hover:bg-gray-100">
				<div class="font-semibold">Admin Panel</div>
			</a>
		</li>
		<li>
			<a href="/admin/faqitems/faqitem/add/" class="block p-3 rounded hover:bg-gray-100">
				<div class="font-semibold">Add FAQ Item +</div>
			</a>
		</li>
		<li>
			<a href="/admin/faqitems/event/add/" class="block p-3 rounded hover:bg-gray-100">
				<div class="font-semibold">Add Event +</div>
			</a>
		</li>
		<li>
			<a href="/admin/faqitems/venue/add/" class="block p-3 rounded hover:bg-gray-100">
				<div class="font-semibold">Add Venue +</div>
			</a>
		</li>
		<li>
			<a href="/admin/users/user/add/" class="block p-3 rounded hover:bg-gray-100">
				<div class="font-semibold">Add User +</div>
			</a>
		</li>
		<li>
			<a href="/admin/faqitems/tag/add/" class="block p-3 rounded hover:bg-gray-100">
				<div class="font-semibold">Add Tag +</div>
			</a>
		</li>

	</ul>
</div>